    <footer class='container'>
        <img src='images/logo_rouge.png' loading='lazy' class='logo'>
        <div>
            <a href=''> <img src='' loading='lazy'> </a>
            <a href=''> <img src='' loading='lazy'> </a>
            <a href=''> <img src='' loading='lazy'> </a>
        </div>
    </footer>
</body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</html>