<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Créaoow</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class='container'>
        <img src='images/logo.png' loading='lazy' class='logo'>
        <nav class='menu'>
            <ul>
                <li> <a href=''> Notre agence </a> </li>
                <li> <a href='prestations.php'> Nos prestations </a> </li>
                <li> <a href=''> Contactez-nous </a> </li>
            </ul>
        </nav>
    </header>