<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Créaoow</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/style_contact.css">
  <link rel="stylesheet" href="css/style_politique.css">
</head>
<body>
    <header class='container'>
        <a href='index.php'><div class='logo logo_top'></div></a>
        <div id="burger-menu">
            <span></span>
        </div>
        <nav class='menu' id="menu">
            <ul>
                <li> <a href='index.php'> Notre agence </a> </li>
                <li> <a href='prestations.php'> Nos prestations </a> </li>
                <li> <a href='contact.php'> Contactez-nous </a> </li>
            </ul>
        </nav>
    </header>