<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Créaoow</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/style_contact.css">
</head>
<body>
    <header class='container'>
        <div class='logo logo_top'></div>
        <nav class='menu'>
            <ul>
                <li> <a href='index.php'> Notre agence </a> </li>
                <li> <a href='prestations.php'> Nos prestations </a> </li>
                <li> <a href='contact.php'> Contactez-nous </a> </li>
            </ul>
        </nav>
    </header>